.chartWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .chartHead {
        align-self: flex-start;
        margin: 0 0 20px 20px;
    }
    .chartBtn {
        margin-left: 50px;
        border-radius: 4px;
    }
    .footerCon {
        padding: 0 20px;
        width: 100%;
    }
    .leftFooter, .rightFooter {
        padding-left: 20px;
    }
    .sortSelect {
        padding-top: 15px;
    }
    .sortPlace {
        padding-right: 80px;
        & > div {
            margin-top: 20px;
        }
    }
}
